<% provide(:title, 'About') %>
<h1>A Powerful Message</h1>
<p>
	"You don't try to build a wall.  You don't set out to build a wall.  You don't say 'I'm going to build the biggest, baddest, greatest wall that's ever been built.'  You don't start there.  You say 'I'm going to lay this brick as perfectly as a brick can be layed.'  You do that every single day, and soon you have a wall." - Will Smith
</p>

