<% provide(:title, 'Home') %>

<div class="container">
<%= link_to image_tag("#", alt: "ThisBrick") %>
</div>

<div class="center hero-unit">
	<h1>Today</h1>
<p>
"Today is the best day of my life." 
</p>
<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

